params.adapterF = "AGATCGGAAGAGCACA"
params.adapterR = "AGATCGGAAGAGCGTC"


profiles {
    local {
        includeConfig 'config/local.config'
    }

    conda {
        conda.enabled = true
    	includeConfig 'config/conda.config'
    }

    singularity {
        singularity.enabled = true
        includeConfig 'config/docker.config'
    }

    docker {
        docker.enabled = true
        includeConfig 'config/docker.config'
    }
}
