
profiles {
    local {
        includeConfig 'config/local.config'
    }

    conda {
    	includeConfig 'config/conda.config'
    }

    singularity {
        singularity.enabled = true
        includeConfig 'config/docker.config'
    }

    awsbatch {
        includeConfig 'config/awsbatch.config'
        includeConfig 'config/docker.config'
    }
    docker {
        docker.enabled = true
        includeConfig 'config/docker.config'
    }
}
