aws.region = 'us-east-2'
 //aws.client.storageEncryption = 'AES256'
  executor.name = 'awsbatch'
  aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

  process {
    withName:fastqc {
      container = 'quay.io/biocontainers/fastqc:0.11.9--0'
      queue = 'fastqc_workflow'
    }
    withName:multiqc {
      container = 'quay.io/biocontainers/multiqc:1.8--py_2'
      queue = 'fastqc_workflow'
    }
  }
docker.enabled = true
